* {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0%;
}

a {
    text-decoration: underline dashed rgb(255, 255, 255) 2px;
}

a:hover {
    color: rgb(200, 0, 0);
}

.header {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.fixed {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 125%;
    font-weight: 400;
    padding: 10px 20px;
    border: 3px rgb(255, 255, 255) solid;
    border-radius: 20px;
    background-color: rgb(93, 93, 93);
    box-shadow: 0 0 10vh rgba(255, 255, 255, 0.678);
}


.LOGO {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 10vh rgb(255, 255, 255);
}

.footer {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.prjContainer {
    display: flex;
    padding: 10% 10% 0% 10%;
    padding-top: 11%;
    justify-content:space-between;
}

.prj {
    flex: 1;
    padding: 20px;
    border: 1px solid white;
    margin: 5px;
}

.prj:hover {
    background-color: rgba(255, 255, 255, 0.174);
}

.container {
    display: flex;
}

.section {
    padding: 3%;
    flex: 1;
    display: flex;
    margin: 0px;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.152);
    background-size: cover;
}

h1,
h4 {
    /* padding: 10px; */
    color: white;
    text-shadow: 0px 0px 2vh rgb(255, 255, 255);
    transition: text-shadow 1s ease;
}

h1:hover, h4:hover {
    color: rgb(200, 0, 0);
    text-shadow: 2px 3px rgb(0, 0, 0);
    transition: text-shadow 0.5s ease;
}

/*IMAGES TO THE BACKGROUND*/

#art {
    background-image: url("../store/ARTbw.jpg");
    background-position: center;
    transition: background-image 0.5s ease;
    border-right: 1.75px white solid;
}

#art:hover {
    background-image: url("../store/ARTcolored.jpg");
}

#code {
    background-image: url("../store/CODEbw.jpg");

    background-position: top;
    transition: background-image 0.5s ease;
    border-left: 1.75px white solid;
}

#code:hover {
    background-image: url("../store/CODEcolored.jpg");
}

#title {
    background-image: url("../store/backgroundGIF.gif");
    background-position: top;
    transition: background-position 0.5s ease;
    backdrop-filter: blur(5px);
}

#contact {
    background-image: url("../store/backgroundGIF.gif");
    background-position: bottom;
    transition: background-position 0.5s ease;
}
