* {
    box-sizing: border-boxc;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
    margin: 1.5px;
}

.header {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.fixed {
    padding: 10px 20px;
    border: 3px rgb(255, 255, 255) solid;
    border-radius: 20px;
    background-color: rgb(93, 93, 93);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.LOGO {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.699);
    border: 3px solid white;
}

.footer {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}


a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.container {
    display: flex;
}

.section {
    flex: 1;
    display: flex;
    margin: 1.5px;
    justify-content: space-evenly;
    align-items: center;
    height: 99.1vh;
}

h1,
h4 {
    color: rgb(174, 174, 174);
    transition: 0.5s;
    padding: 10px;
}

h1:hover, h4:hover {
    color: white;
    transition: 0.5s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*IMAGES TO THE BACKGROUND*/

#art {
    background-image: url("store/ARTbw.jpg");
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.671);
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
}

#art:hover {
    background-image: url("store/ARTcolored.jpg");
}

#code {
    background-image: url("store/CODEbw.jpg");
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.486);
    background-size: cover;
    background-position: top;
    transition: background-image 0.5s ease;
}

#code:hover {
    background-image: url("store/CODEcolored.jpg");
}

#title {
    background-image: url("store/backgroundGIF.gif");
    background-position: top;
    transition: background-position 0.5s ease;
    backdrop-filter: blur(5px);
}

#title:hover {
    background-position: bottom;
}

#contact {
    background-image: url("store/backgroundGIF.gif");
    background-position: top;
    transition: background-position 0.5s ease;
}

#contact:hover {
    background-position: bottom;
}