.container {
    display: flex;
    justify-content: space-between;
}


.header {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(247, 223, 255);
    background-color: rgb(90, 60, 102);
    padding: 10px;
    border-radius: 15px;
}

div {
    padding: 10px;
}

html {
    background-color: rgb(61, 42, 69);
}



#search-section {
    flex: 1;
    background-color: rgb(126, 87, 142);
    color: rgb(231, 205, 241);
    text-align: center;
    border: 5px solid rgb(90, 60, 102);
    border-radius: 20px;
    align-self: center;
}

#map-container {
    position: relative;
}

#map {
    border-radius: 10px;
    border: 20px solid rgb(147, 116, 160);
}

#marker {
    position: absolute;
    width: 2px;
    height: 2px;
    visibility: hidden;
}

#location-input {
    width: 300px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    font-size: x-large;
    background-color: rgb(247, 228, 255);
    color: rgb(76, 49, 88);
}

#list li {
    list-style: none;
}